<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demonsration</title>

    <link href="/stylesheets/builder/<%-cssFile%>" rel="stylesheet">

    <script src="/javascripts/builder/knockout-3.0.0.js"></script>
    <script src="/javascripts/builder/raphael.js"></script>
    <script src="/javascripts/builder/raphael.serialize.js"></script>
    <link rel="shortcut icon" href="/public/images/rBTjd6UOPk5913OSn5ZQVYMTQWQ.ico">

</head>

<body>

    <script> var presData = <%-!presentation.body.toString() ? "''" : presentation.body%> </script>
    <div class="header">
        <div class="to-site" title="To site"></div>
        <span class="header-name header-font"><%= presentation.name %></span>
        <a href="/user/<%- presentationUser !== 'temp' &&  presentationUser !== 'pullrequest' ? presentationUser.id : ''%>" class="header-user header-font"><%- presentationUser !== 'temp' &&  presentationUser !== 'pullrequest' ? presentationUser.firstName + " " + presentationUser.lastName  : '' %></a>

        <div class="right-block">
            <div class="btn" data-bind="click: playPresentation.start"> <span class="btn-img btn-play">&nbsp</span>Play</div>
            <% if (your || presentationUser === 'temp') {%>
                <div class="btn save"> <span class="btn-img btn-save">&nbsp</span><span class="save-text">Save</span></div>
                <% if (your) {%>
                    <div class="btn btn-ok access"> <span id="access-span" class="btn-img btn-access access-<%=presentation.private ? 'private' : 'public'%>">&nbsp</span>Access (<%=presentation.private ? 'private' : 'public'%>)</div>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="property-block">

        <div class="property-slide main-block">
            <div class="title">
                <span class="add-icon-slide">&nbsp;</span>Slide settings
            </div>

            <div class="add-item-block" data-bind = "click: presentation.addText" >
                <span class="add-icon-text">&nbsp;</span>+ Text
            </div>

            <div class="add-item-block add-imageelem" >
                <span class="add-icon-image">&nbsp;</span>+ Image
            </div>

            <div class="add-item-block edit-background" >
                <span class="add-icon-bckgr">&nbsp;</span>Background
            </div>

            <div class="add-item-block edit-presentation">
                <span class="add-icon-sett">&nbsp;</span>Presentation Settings
            </div>
        </div>


        <div class="property-slide edit-text-block" style="display: block">
            <div class="title"><div class="back-btn unselect" title="Back" data-bind="click: presentation.unselectAll"></div><span class="add-icon-text">&nbsp;</span>Text</div>
            <!-- ko if: (presentation.selectedItem()) && (presentation.selectedItem().type === 'text') -->
            <textarea  class="edit-text-area" cols="25" rows="6" data-bind="value: presentation.selectedItem().attr('text'), event: { keyup: presentation.changeElementText}" ></textarea>

            <div class="settings-row">

                <div class="font-family-combo-box item">

                    <!-- ko if: presentation.slideStack()[presentation.currentSlide()] -->
                    <div class="font-family-preview item"  data-bind="text: presentation.selectedItem().attrs['font-family'], style: {fontFamily: presentation.selectedItem().attrs['font-family']}"></div>
                    <!-- /ko -->

                    <div class="fontfamily-popup hided-fontfamilypopup" data-bind="foreach: presentation.fontFamiliesForPopups">
                        <div class="fontfamily-combobox-item" data-bind="text: $data, style: {fontFamily: $data}, css: {selected: $data == presentation.selectedItem().attrs['font-family']}, click: presentation.setSelectedItemFontFamily"></div>
                    </div>

                </div>



                <div class="font-size-combo-box item">

                    <!-- ko if: presentation.slideStack()[presentation.currentSlide()] -->
                    <input class="font-size-preview item" data-bind="value: parseInt(presentation.selectedItem().attrs['font-size']), event: {keyup: presentation.setSelectedItemFontSize}">
                    <!-- /ko -->

                    <div class="hidedPopup fontsize-popup" data-bind="foreach: presentation.fontSizesForPopups">
                        <div class="fontsize-combobox-item" data-bind="text: $data, css: {selected: $data == parseInt(presentation.selectedItem().attrs['font-size']) }, click: presentation.setSelectedItemFontSize"></div>
                    </div>

                </div>

                <div class="color-combo-box item">

                    <!-- ko if: presentation.slideStack()[presentation.currentSlide()] -->
                    <div class="color-preview item" data-bind="style: {backgroundColor: presentation.selectedItem().attrs['fill'] }"></div>
                    <!-- /ko -->
                    <div class="colors-popup hided-colorpopup">
                        <div class="color-items" data-bind="foreach: presentation.colorsForPopups">
                            <div class="color-item-block" data-bind="style: {backgroundColor: $data}, click: presentation.setSelectedItemColor" ></div>
                            <!-- ko if: ((($index()-9)%10) == 0) -->
                            <br>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="settings-row">

                <label class="property-button bold item" for="bold item">
                    <input type="checkbox" id="bold item" data-bind="checked: (presentation.selectedItem().attrs['font-weight'] === 'bold') ? true : false ,event: {change: presentation.toogleSelectedItemBold}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

                <label class="property-button italic item" for="italic item">
                    <input type="checkbox" id="italic item" data-bind="checked: (presentation.selectedItem().attrs['font-style'] === 'italic') ? true : false ,event: {change: presentation.toogleSelectedItemItalic}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

                <label class="property-button underline item selected" for="underline item">
                    <input type="checkbox" id="underline item" data-bind="checked: (presentation.selectedItem().attrs['text-decoration'] === 'underline') ? true : false ,event: {change: presentation.toogleSelectedItemUnderline}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

            </div>
            <!-- /ko -->
            <br><br>
        </div>


        <div class="property-slide edit-image-block" >
            <div class="title"><div class="back-btn" title="Back" data-bind="click: presentation.unselectAll"></div><span class="add-icon-image">&nbsp;</span>Image</div>


            <div class="settings-row">
                Select

                <div class="add-image item">
                    <input type="file" class="add-image-file" accept="image/*">
                    <div class="btn-open item"> Open... </div>
                    <input type="text" class="from-url" placeholder="URL">
                    <div class="from-url-ok item">OK</div>
                </div>
            </div>

        </div>



        <div class="property-slide edit-background-block" style="display: block">
            <div class="title"><div class="back-btn" title="Back"></div><span class="add-icon-bckgr">&nbsp;</span>Background</div>

            <div class="settings-row">
                <span class="add-icon-color">&nbsp;</span>Color
                <div class="color-combo-box slide">

                    <!-- ko if: presentation.slideStack()[presentation.currentSlide()] -->
                    <div class="color-preview slide" data-bind="style: {backgroundColor: JSON.parse(presentation.slideStack()[presentation.currentSlide()].paperObject())[0].fill }"></div>
                    <!-- /ko -->
                    <div class="colors-popup hided-colorpopup">
                        <div class="color-items" data-bind="foreach: presentation.colorsForPopups">
                            <div class="color-item-block" data-bind="style: {backgroundColor: $data}, click: presentation.setSlideBackgroundColor" ></div>
                            <!-- ko if: ((($index()-9)%10) == 0) -->
                            <br>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="settings-row">
                <span class="add-icon-image">&nbsp;</span>Image

                <div class="add-image slide-background">
                    <input type="file" class="slide-background-file" accept="image/*">
                    <div class="btn-open slide-background"> Open... </div>
                    <input type="text" class="from-url" placeholder="URL">
                    <div class="from-url-ok slide-background">OK</div>

                </div>

            </div>




            <div class="settings-row">
                <div class="btn backgr-to-all">Set to All</div>
                <div class="btn backgr-to-default">To Default</div>
            </div>

        </div>



        <div class="property-slide edit-presentation-block" >

            <div class="title"><div class="back-btn" title="Back" ></div><span class="add-icon-sett">&nbsp;</span>Presentation settings</div>

            <div class="settings-row">

                <div class="font-family-combo-box presentation">

                    <!-- ko if: presentation.defaultValues -->
                    <div class="font-family-preview presentation" data-bind="text: presentation.defaultValues().fontFamily, style: {fontFamily: presentation.defaultValues().fontFamily}"  ></div>
                    <!-- /ko -->

                    <div class="fontfamily-popup hided-fontfamilypopup" data-bind="foreach: presentation.fontFamiliesForPopups">
                        <div class="fontfamily-combobox-item" data-bind="text: $data, style: {fontFamily: $data},css: {selected: $data == presentation.defaultValues().fontFamily}, click: presentation.setPresentationFontFamily"></div>
                    </div>

                </div>

                <div class="font-size-combo-box presentation">

                    <!-- ko if: presentation.defaultValues -->
                    <input class="font-size-preview presentation" data-bind="value: parseInt(presentation.defaultValues().fontSize), event: {keyup: presentation.setPresentationFontSize}">
                    <!-- /ko -->

                    <div class="hidedPopup fontsize-popup" data-bind="foreach: presentation.fontSizesForPopups">
                        <div class="fontsize-combobox-item" data-bind="text: $data, css: {selected: $data == parseInt(presentation.defaultValues().fontSize) }, click: presentation.setPresentationFontSize"></div>
                    </div>

                </div>

                <div class="color-combo-box presentation">

                    <!-- ko if: presentation.defaultValues -->
                    <div class="color-preview presentation"  data-bind="style: {backgroundColor: presentation.defaultValues().fontColor }"></div>
                    <!-- /ko -->
                    <div class="colors-popup hided-colorpopup">
                        <div class="color-items" data-bind="foreach: presentation.colorsForPopups">
                            <div class="color-item-block" data-bind="style: {backgroundColor: $data}, click: presentation.setPresentationFontColor" ></div>
                            <!-- ko if: ((($index()-9)%10) == 0) -->
                            <br>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="settings-row">

                <label class="property-button bold presentation" for="bold presentation">
                    <input type="checkbox" id="bold presentation" data-bind="checked: (presentation.defaultValues().fontWeight === 'bold') ? true : false, ,event: {change: presentation.tooglePresentationBold}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

                <label class="property-button italic presentation" for="italic presentation">
                    <input type="checkbox" id="italic presentation" data-bind="checked: (presentation.defaultValues().fontStyle === 'italic') ? true : false ,event: {change: presentation.tooglePresentationItalic}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

                <label class="property-button underline presentation selected" for="underline presentation">
                    <input type="checkbox" id="underline presentation" data-bind="checked: (presentation.defaultValues().textDecoration === 'underline') ? true : false ,event: {change: presentation.tooglePresentationUnderline}">
                    <span class="icon backgr"></span>
                    <span class="icon"></span>
                </label>

            </div>

            <hr>

            <div class="settings-row pres-backgr">
                Background-color

                <div class="color-combo-box presentation-backgr">
                  <!-- ko if: presentation.slideStack()[presentation.currentSlide()] -->
                    <div class="color-preview presentation-backgr" data-bind="style: {backgroundColor: presentation.defaultValues().background.value }"></div>
                    <!-- /ko -->
                    <div class="colors-popup hided-colorpopup">
                        <div class="color-items" data-bind="foreach: presentation.colorsForPopups">
                            <div class="color-item-block" data-bind="style: {backgroundColor: $data}, click: presentation.setPresentationBackgroundColor" ></div>
                            <!-- ko if: ((($index()-9)%10) == 0) -->
                            <br>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="settings-row pres-backgr">
                Background-image

                <div class="add-image presentation-backgr">
                    <input type="file" class="presentation-background-file" accept="image/*">
                    <div class="btn-open presentation-backgr"> Open... </div>
                    <input type="text" class="from-url" placeholder="URL">
                    <div class="from-url-ok presentation-backgr">OK</div>

                </div>

            </div>

            <hr>

        </div>
        </div>

    </div>

    <div id="wrap"></div>
    <div id="fake_wrap"></div>

    <div class="add-slide">
        <div class="btn" data-bind = "click: presentation.addSlide" > <span class="btn-img btn-add">&nbsp;</span>Add Slide</div>
    </div>


    <div class="preview-block" data-bind="foreach: presentation.slideStack">
            <div class="separator"></div>
            <div class="preview">
                <div class="preview-index" data-bind = "text: $index()+1"></div>
                <div class="preview-image" data-bind = "html: previewImage(), click: $root.presentation.goToSlide, css: {previewImageSelected: ($index() == $root.presentation.currentSlide())} ">    </div>
                <div class="slide-delete" data-bind = " click: $root.presentation.removeSlide"></div>
            </div>
            <!-- ko if: $index() === presentation.slideStack().length-1 -->
                <div class="separator"></div>
            <!-- /ko -->
    </div>


    <div class="popup-overlay presentation-name">
        <div class="popup">
            <span class="popup-close"></span>
            <div class="popup-title">Rename document</div>
            <div class="popup-message">Enter new caption:</div>
            <input class="popup-input" type="text" maxlength="40">
            <div class="btn btn-ok popup-btn">OK</div>
            <div class="btn popup-btn">Cancel</div>
        </div>
    </div>

    <div class="popup-overlay slide-size">
        <div class="popup slide-size">
            <span class="popup-close slide-size"></span>
            <div class="popup-title slide-size">Choose please Slide Size:</div>
            <div class="btn btn-ok slide-size mode0" >4:3</div>
            <div class="btn slide-size mode1" >16:10</div>
            <div class="btn slide-size mode2" >16:9</div>
        </div>
    </div>

    <div class="popup-overlay play-overlay">
        <!-- ko if: presentation.slideStack()[playPresentation.currentSlideIndex()] -->
        <div class="play-area" data-bind = "html: presentation.slideStack()[playPresentation.currentSlideIndex()].previewImage()"></div>
        <!-- /ko -->
        <div class="play-navbar visible">
            <div class="play-navbar-item prev not-enabled" data-bind = "click: playPresentation.prev"></div>
            <div class="play-navbar-item play stopped"  data-bind = "click: playPresentation.play"></div>
            <div class="play-navbar-item next"  data-bind = "click: playPresentation.next"></div>
            <div class="play-navbar-item close" data-bind = "click: playPresentation.close"></div>
            <div class="play-navbar-item full"  data-bind = "click: playPresentation.changeScreenMode"></div>
        </div>
    </div>


    <script src="/javascripts/requestController.js"></script>
    <script src="/javascripts/builder/DOM.js"></script>
    <script src="/javascripts/builder/presentation.js"></script>
    <script src="/javascripts/builder/playPresentation.js"></script>
    <script src="/javascripts/builder/builder.js"></script>
</body>

</html>

