<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error!</title>

    <link href="/stylesheets/error/style.css" rel="stylesheet">

</head>

<body>

<div class="error-wrapper">
    <div class="error">Error!</div>
    <div class="mess"><%- message %></div>
</div>

</body>

</html>