<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/login/<%-cssFile%>" />
    <link rel="shortcut icon" href="/public/images/rBTjd6UOPk5913OSn5ZQVYMTQWQ.ico">
</head>

<body>
    <div class="header">
        <div class="logo"></div><span class="black-ops red">Presentations</span>

        <div class="right-block">
            <div class="btn sign-up"> Sign Up </div>
            <div class="btn btn-ok try">Try Now</div>
        </div>
    </div>

    <div class="form">
        <div class="caption">
            <h1>Sign in</h1>
            <div class="global-error red"></div>
        </div>

        <div class="form-row mail">
            <label for="email" class="row-label">E-mail</label>
            <span class="error red"></span>
            <input type="text" id="email"  maxlength="40" >
        </div>

        <div class="form-row password">
            <label for="pass" class="row-label">Password</label>
            <span class="error red"></span>
            <input type="password" id="pass" maxlength="40">
        </div>

        <div class="form-row">
            <div class="btn submit" >Sign in</div>
        </div>
    </div>

    <div class="footer">
        © 2014 Tet4enko, Inc.
    </div>
    <script src="/javascripts/requestController.js"></script>
    <script src="/javascripts/login/login.js"></script>

</body>

</html>