<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/login/<%-cssFile%>" />
    <link rel="shortcut icon" href="/public/images/rBTjd6UOPk5913OSn5ZQVYMTQWQ.ico">
</head>

<body>
    <div class="header">
        <div class="logo"></div><span class="black-ops red">Presentations</span>

        <div class="right-block">
            <div class="btn sign-in"> Sign in </div>
            <div class="btn btn-ok try">Try Now</div>
        </div>
    </div>

    <div class="form">
        <div class="caption">
            <h1>Sign up</h1>
            <div class="global-error red"></div>
        </div>

        <div class="form-row first-name">
            <label for="first-n" class="row-label">First name</label>
            <span class="error red"></span>
            <input type="text" id="first-n"  maxlength="40" >
        </div>

        <div class="form-row last-name">
            <label for="last-n" class="row-label">Last name</label>
            <span class="error red"></span>
            <input type="text" id="last-n" maxlength="40">
        </div>

        <div class="form-row email">
            <label for="email" class="row-label">E-mail</label>
            <span class="error red"></span>
            <input type="text" id="email" maxlength="40">
        </div>

        <div class="form-row password">
            <label for="password" class="row-label">Password</label>
            <span class="error red"></span>
            <input type="password" id="password" maxlength="40">
        </div>

        <div class="form-row confirm-password">
            <label for="confirm-password" class="row-label">Confirm password</label>
            <span class="error red"></span>
            <input type="password" id="confirm-password" maxlength="40">
        </div>

        <div class="form-row">
            <div class="btn submit" >Sign up</div>
        </div>
    </div>

    <div class="footer reg">
        © 2014 Tet4enko, Inc.
    </div>
    <script src="/javascripts/requestController.js"></script>
    <script src="/javascripts/registration/registration.js"></script>

</body>

</html>