<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= pageUser.firstName + ' ' + pageUser.lastName %></title>

    <link href="/stylesheets/user/user.css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/images/rBTjd6UOPk5913OSn5ZQVYMTQWQ.ico">
</head>

<body>
<div class="header">
    <div class="logo"></div><span class="black-ops red">Presentations</span>

    <div class="search-user">
        <input type="text" placeholder="Find a user.." class="search-user-input">
        <div class="popup"></div>
    </div>

    <div class="right-block">
        <% if (!currentUser) { %>
            <div class="btn log-in"> Log In </div>
            <div class="btn btn-ok sign-up">Sign Up</div>
        <% } %>

        <% if (currentUser) { %>
            <a href="/user/<%= currentUser.id %>" class="curr-user pointer sans-serif">
                <%= currentUser.firstName + ' ' + currentUser.lastName %>
            </a>
            <div class="btn btn-ok log-off">Log Off</div>
        <% } %>

    </div>
</div>


<div class="middle-container">

    <div class="user-data">
        <div class="photo pointer" style=<%- "background:url\(\'" + pageUser.photo + "\');background-size:100%100%" %> >
            <% if (currentUser && (currentUser.id === pageUser.id)) {%>
                <input type="file" accept="image/*" class="photo-input">
                <div class="add-photo sans-serif pointer">Update Photo</div>
                <div class="loading">Loading...</div>
            <% } %>
        </div>
        <div class="user-name"><%= pageUser.firstName + ' ' + pageUser.lastName %></div>
        <div class="user-mail"><%= pageUser.mail %></div>
        <div class="user-mail">Joined <%= pageUser.created.toLocaleDateString() %></div>
    </div>

    <div class="presentation-data">
        <div class="search-row">
            <input type="text" class="search-input sans-serif"  maxlength="40" placeholder="Find a presentation..." >
            <% if (currentUser && (currentUser.id === pageUser.id)) { %>
                <span class="search-cat all selected">All</span>
                <span class="search-cat public">Public</span>
                <span class="search-cat private">Private</span>
                <div class="btn create">Create New !</div>
            <% } %>

        </div>


        <% for (i in pageUserPresentations) {%>
            <% if (!pageUserPresentations[i].private || (pageUserPresentations[i].private && currentUser && (currentUser.id === pageUserPresentations[i].userId))) { %>
            <div class="presentation-row" data-id="<%- pageUserPresentations[i].private ? 'private' : 'public' %>">
                <a href="/presentation/<%=pageUserPresentations[i].id%>" class="presentation-preview pointer"> <%- pageUserPresentations[i].preview %> </a>

                <div class="data-row">

                    <a href="/presentation/<%=pageUserPresentations[i].id%>" class="presentation-href sans-serif hover-underline pointer"> <%= pageUserPresentations[i].name %> </a>
                    <% if (currentUser && (currentUser.id === pageUser.id)) { %>
                        <span class="sans-serif hover-underline pointer darkgray presentation-delete" data-id="<%=pageUserPresentations[i].id%>">Delete</span>
                    <% } %>

                    <% if (currentUser && (currentUser.id !== pageUser.id) && (pageUserPresentations[i].forks.indexOf(currentUser.id) < 0)) { %>
                        <span class="sans-serif hover-underline pointer darkgray presentation-fork" data-id="<%=pageUserPresentations[i].id%>">Fork</span>
                    <% } %>

                    <% if (currentUser && (currentUser.id !== pageUser.id) && (pageUserPresentations[i].forks.indexOf(currentUser.id) >= 0)) { %>
                        <span class="forked sans-serif darkgray">Forked!</span>
                    <% } %>

                    <div class="presentation-date sans-serif">Updated <%= pageUserPresentations[i].updated.toLocaleDateString() %></div>

                </div>
                <div class="data-row">
                    <% if (pageUserPresentations[i].forked.presId) {%>
                        <span class="forked-from sans-serif">Forked from
                        <a class="forked-link hover-underline pointer" href="/user/<%-pageUserPresentations[i].forked.userId%>" ><%-pageUserPresentations[i].forked.userName%></a> /
                        <a class="forked-link hover-underline pointer" href="/presentation/<%-pageUserPresentations[i].forked.presId%>"><%-pageUserPresentations[i].forked.presName%></a></span>
                    <% } %>
                </div>

                <div class="data-row bottom-row">
                    <% if (currentUser && (currentUser.id === pageUser.id) && (pageUserPresentations[i].forked.presId)) {%>
                        <span class="sans-serif hover-underline pointer action update" data-id="<%=pageUserPresentations[i].id%>">Get Update</span>
                        <span class="slash sans-serif">/</span>
                        <span class="sans-serif hover-underline pointer action pullrequest" data-id="<%=pageUserPresentations[i].id%>">Send Pull Request</span>
                    <% } %>
                </div>


            </div>
            <% } %>
        <% } %>


        <% if (pullRequests.length) {%>
            <div class="pull-requests">
                <span class="caption sans-serif"><%-pullRequests.length%> Pull Request</span>
            </div>

            <ul>
                <% for (i in pullRequests) { %>
                <li class="input-pull-request sans-serif">
                    <a class="username hover-underline pointer blue" href="/user/<%-pullRequests[i].userFromId%>"><%-pullRequests[i].userFromName%></a> wants to update <a class="presname hover-underline pointer blue" href="/presentation/<%-pullRequests[i].presentationToId%>"><%-pullRequests[i].presentationToName%></a> ( <span class="hover-underline pointer see" data-id="<%-pullRequests[i].id%>">See changes...</span> )
                    <% if (currentUser && (currentUser.id === pageUser.id)) { %>
                        <span class="right">
                            <span class="hover-underline pointer green accept" data-id="<%-pullRequests[i].id%>">Accept</span> / <span class="hover-underline pointer red decline" data-id="<%-pullRequests[i].id%>">Decline</span>
                        </span>
                    <% } %>
                </li>
                <% } %>
            </ul>
        <% } %>


    </div>
</div>


<script src="/javascripts/requestController.js"></script>
<script src="/javascripts/user/user.js"></script>

</body>

</html>