*{
    cursor: default;
}


a{
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    padding:0px;
    height: 100%;
    width:  100%;
    position: absolute;
    min-width: 700px;
}

.header {
    height: 40px;
    border-bottom: 3px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header-name{
    display: inline-block;
    margin-left: 35px;
    border-radius: 2px;
}

.header-font{
    font-style: italic;
    font-family: arial, sans-serif;
    font-size: 21px;
    color: gray;
}

.btn {
    background-color: #f7fffe;
    border: 1px solid #999999;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    height: 27px;
    line-height: 27px;
    width: 80px;
    font: arial,sans-serif;
    display: inline-block;
    cursor: pointer;
}

.btn-ok {
    background-color: rgba(127,199,255,1);
    color: #ffffff;
}

.btn:hover {
    border: 1px solid #707070;
}

.btn:active{
    box-shadow:inset 0 0 5px rgba(0,0,0,0.15);

}


.right-block {
    margin: 4px 0px;
    position: absolute;
    right: 0;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    padding-right: 50px;
    background-color: #ffffff;
}

.red{
    color:red;
}

.black{
    color: black;
}

.logo {
    background: url('../../images/yandexlogo.png');
    float: left;
    position: relative;
    width: 90px;
    height: 22px;
    background-size: 100%100%;
    margin: 8px 10px;
}



.black-ops {
    font-family: 'black_ops_oneregular';
    display: block;
    float: left;
    font-family: 'black_ops_oneregular';
    font-size: 26px;
    margin-top: 6px;
}

@font-face {
    font-family: 'black_ops_oneregular';
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot');
    src: url('../Fonts/Black%20Ops/blackopsone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.ttf') format('truetype'),
    url('../Fonts/Black%20Ops/blackopsone-regular-webfont.svg#black_ops_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.right-block .curr-user {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-right: 20px;
      color: black;
      text-shadow: 0 1px 0 rgba(0,0,0,0.15);
      padding-left: 40px;

  }

.right-block .curr-user:hover {
    color: rgba(127,199,255,1);
}


.middle-container {
    margin-top: 20px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table;
}

.user-data {
    float: left;
    width: 24%;
    overflow: hidden;
}

.user-data .photo {
    width: 200px;
    height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    background-size: 100% 100%;
}

.user-data .photo:hover .add-photo:first-of-type {
    opacity: 0.8;
}

.user-name{
    font-size: 23px;
    font-weight: bold;
    padding: 5px 3px;
    color: #333333;
    border-bottom: 1px solid #eee;
}

.user-mail{
    font-size: 15px;
    padding: 5px 3px;
    color: #333333;;
    border-bottom: 1px solid #eee;
}

.presentation-data {
    float: left;
    width: 73%;
    margin-left: 20px;
}

.search-row {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


input[type="text"] {
    border: 1px solid darkgray;
    margin: 5px 40px 5px 5px;
    padding: 4px 7px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    height: 16px;
    line-height: 16px;
    width: 40%;
    font-size: 13px;
    color:  #333333;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid rgba(127,199,255,1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(127,199,255,1);
}

.search-cat{
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    font-family: sans-serif;
    cursor: pointer;
    color: rgba(127,199,255,1);
}

.search-cat:hover{
    text-decoration: underline;
}

.search-row .btn {
    margin-left: 80px;
}

.search-cat.selected{
    color :#333333;
    cursor: default;
}

.search-cat.selected:hover{
    text-decoration: none;
}

.presentation-row{
    height: 80px;
    border-bottom: 1px solid #eee;
    padding: 3px 0px 0px 5px;
    position: relative;
}

.presentation-row:hover {
    background-color: #FCFCFC;
}

.presentation-row:hover .presentation-delete {
    display: inline-block;
}


.presentation-row:hover .presentation-fork {
    display: inline-block;
}

.presentation-row:hover .forked {
    display: inline-block;
}

.presentation-row:hover .action{
    display: inline-block;
}

.presentation-row:hover .slash{
    display: inline-block;
}

.presentation-href{
    font-size: 15px;
    display: inline-block;
}

.presentation-href:hover{
    color: rgba(127,199,255,1);
}

.presentation-preview {
    float: left;
    display: block;
    height: 75px;
    width: 100px;
    border: 1px solid #eee;
    position: relative;
}

svg {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.add-photo {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    color: white;
    background: rgb(0,0,0);
    transition: opacity 0.5s ease-out;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
}

.photo-input{
    display: none;
}

.loading {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: rgb(0,0,0);
    border-radius: 5px;
    z-index: -1;
}

.loading.showed {
    z-index: 1;
}

.presentation-row.hided-by-filter{
    display: none;
}

.presentation-row.hided-by-search{
    display: none;
}



.presentation-row .presentation-date{
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 13px;
}

.header input[type="text"]{
    width: 100px;
    transition: width 0.2s ease-in-out;
}

.header input[type="text"]:focus{
    width: 184px;
}

.search-user{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.search-user .popup{
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    position: absolute;
    width: 198px;
    border: 1px solid darkgray;
    top: 31px;
    left: 5px;
    background-color: white;
}

.search-user .popup.showed{
    z-index: 2;
    opacity: 1;
}


.popup .popup-row{
    display: block;
    position: relative;
    font-size: 13px;
    height: 30px;
    border-top: 1px solid darkgray;
    line-height: 30px;
}

.popup .popup-row:hover{
    background-color: #FCFCFC;
}

.popup-row-photo{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 7px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: inherit;
}

.popup-row-caption {
    margin-left: 30px;
    cursor: inherit;
}


.presentation-delete{
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
    display: none;
}


.presentation-fork{
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
    display: none;
}

.forked {
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
    display: none;
}



.footer {
    position: relative;
    top: 70px;
    width: 60%;
    margin: auto;
    text-align: center;
    border-top: 1px solid darkgray;
    line-height: 50px;
    height: 50px;
    font-size: 13px;
}

.footer.reg{
    top: 80px;
}

.forked-from{
    font-size : 11px;
}

.presentation-row .data-row{
     display: block;
     position: relative;
     padding-left: 120px;
}

.data-row.bottom-row{
    position: absolute;
    bottom: 5px;
}

.action{
    display: none;
    font-size: 13px;
    color : darkgray;
}

.slash{
    display: none;
    font-size: 13px;
    color : darkgray;
}

.pull-requests {
    position: relative;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid #eee;
}


.pull-requests .caption{
    position: absolute;
    bottom: -9px;
    background: white;
    display: inline-block;
    left: 253px;
    padding: 10px 10px 0px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

.input-pull-request{
    font-size: 13px;
    position: relative;
}

.input-pull-request .right{
    position: absolute;
    right: 10px;
}


.sans-serif {
    font-family: sans-serif;
}

.hover-underline:hover {
    text-decoration: underline;
}

.pointer {
    cursor:  pointer;
}

.darkgray {
    color: darkgray;
}

.blue {
    color: rgba(127,199,255,1);
}

.red {
    color: red;
}

.green {
    color: green;
}